@font-face {
    font-family: 'cursive_serifbook';
    src: url('./fonts/cursiveserif-book-webfont.woff2') format('woff2'),
         url('./fonts/cursiveserif-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'modern_prestige_demoregular';
    src: url('./fonts/modern_prestige_demo-webfont.woff2') format('woff2'),
         url('./fonts/modern_prestige_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root{
    font-size: 12px;
    --gold: rgb(155, 132, 3);
}

body{
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: auto;
    align-items: center;
    height: 100%;
    background-color: rgb(10, 10, 10);
    
}


html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(17, 17, 17);
    border-bottom: var(--gold) solid 5px;
    width:100%;
   
    
}

.buttonNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 30px;
    width: max-content;
    
}

.button{
    width: 120px;
    height: 70px;
    border-top: solid 4px var(--gold);
    border-left: solid 4px var(--gold);
    border-right: solid 4px var(--gold);
    border-bottom: var(--gold) solid 4px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(20, 20, 20);
    color: antiquewhite;
    font-family: modern_prestige_demoregular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 1.9rem;
    text-align: center;
    letter-spacing: 4px;
    min-width: fit-content;
    padding: 15px;
    text-shadow: 
    -0.5px -0.5px 0 var(--gold),  
    0.5px -0.5px 0 var(--gold),
    -0.5px 0.5px 0 var(--gold),
    0.5px 0.5px 0 var(--gold); 
}

button:hover{
    cursor: pointer;
    background-color: #474747;
   border-radius: 20px 20px 5px 5px;
   border-bottom: var(--gold) solid 6px;
    height: 75px;
    
}


#content{
    position: relative;
    align-self:center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
    
    min-width: 85%;
    width: fit-content;
    text-align: center;
    flex: 1;
    padding: 50px;
    margin:40px;
    border-radius: 15%;
    border: double 10px;
    border-color: antiquewhite;
    background-image: url("./images/itaFlagLowPoly.jpg");
    background-size:auto;
    background-attachment:fixed ;
    padding-bottom: 100px;
}

.footer{
    display: flex;
    
    justify-content: center;
    width:100%;
    align-content: center;
    background-color: #252525;
    border-top: var(--gold) ridge 3px;
    color:antiquewhite;
    font-family: modern_prestige_demoregular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.3rem;
    letter-spacing: 3px;
    text-shadow: 
    -2px -2px 0 #000000,  
    2px -2px 0 #000000,
    -2px 2px 0 #000000,
    2px 2px 0 #000000; 
    padding-top: 5px;

}



.title{
    display: grid;
    grid-template-columns: 1fr 2fr 1.1fr;
    gap: 50px;
    text-align: center;
    white-space-collapse:collapse;
    align-items: center;
    background-color: black;
    width: 50%;
    min-width: fit-content;
    border-radius: 40%;
    padding: 10px;
   border: antiquewhite ridge 5px;
    
}

.titleHeader{
    font-family: "modern_prestige_demoregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.1rem;
    letter-spacing: 2px;
    color: antiquewhite;
    text-shadow: 
    -2px -2px 0 #000000,  
    2px -2px 0 #000000,
    -2px 2px 0 #000000,
    2px 2px 0 #000000; 
    margin-right: 5px;
}



.logo, .menuSectionIcon{
    justify-self: center;
    width: 80px;
    height: 80px;
    background-color: rgb(17, 17, 17);
    border-radius: 45%;
    border-color: var(--gold) !important;
    border: 3px ridge;
    padding: 10px;
}

.absoluteIcon{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 210px;
    left: 230px;
  
}

.normalText, .signature{
    color: antiquewhite;
    font-family: "cursive_serifbook", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}


.signature{
    color: var(--gold);
    text-align: left;
    font-family: "modern_prestige_demoregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.3rem;
}


.homepageDiv, .menuDiv, .menuSectionDiv, .contactDiv{
    position: relative !important;
    display: flex;
    flex-direction: column;
    width: 550px;    
    border-radius: 15%;
    border: double 10px;
    border-color: antiquewhite;
    padding: 30px;
    background-color: rgb(17, 17, 17);   
    margin-top: 80px;

}

.subHeader{
    text-align: left;
    font-family: "modern_prestige_demoregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(121, 103, 1);
    font-size: 2.8rem;
    letter-spacing: 8px;


}

.description{
    position: relative !important;
    gap: 20px;
}

.location{
    position: relative !important;
   
    
}


.locationTextContent{
    
    white-space: nowrap;
    word-break:keep-all;

}

.location > .subHeader{
    margin: 10px;
}

.hours{
    padding: 10px 20px 70px 20px;
    position: relative !important;

}
.hours > .absoluteIcon{
     bottom:500px;
}

.location >.absoluteIcon{
    bottom: 145px;
}


.menuDiv{
    display: grid;
    grid-template-columns: 300px 300px !important;
    grid-template-rows: 1f 3f;
    gap: 10px;
    width: fit-content;
}



.menuEntryTitle{
    grid-column: 1/-1;
    grid-row: 1;
    margin: 0;
    margin-bottom: 20px;
}

.menuEntryImage{
    grid-column: 1;
    grid-row: 2;
    height: auto;
    width: 250px;
    justify-self: center;
    border-radius: 20px;

}

.menuEntryText{
    grid-column: 2;
    grid-row: 2;
    max-width: 400px;
    font-size: 1.4rem;
    align-self: center;
    
    
}

.menuSectionDiv{
    display: grid;
    grid-template-columns: 1fr 310px 1.1fr;
    width: fit-content;
    letter-spacing: 4px;
    margin-top: 50px;
    align-items: center;

}

.menuSectionIcon{
    width: 150px;
    height: auto;
}

.menuSectionTitle{
    color: var(--gold);
    text-align: center;
    font-family: "modern_prestige_demoregular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4.8rem;
    
}

#caffeDoppio>img{
    width: 180px;
    height: auto;
}

#gelato>img{
    height: 250px;
    width: 210px;
}

img{
    padding: 0;
    margin: 0;
}


.contactDiv{
    justify-content: baseline;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 30px;
    width: fit-content;
    position: relative;
}

.contactTitle{
    grid-column: 1/-1;
    margin: 0;

}

.contactName{
    align-self: flex-start;
    font-size: 2.1rem;
    white-space: nowrap;
}

.contactMail{
    white-space: nowrap;
    font-size: 1.7rem;
}

.contactIcon{
    position: absolute;
    width:100px;
    height: auto;
    left: 700px;
    bottom: 190px;
}

#chefDiv >.contactIcon{
    left:630px
}

#managerDiv > .contactName{
    color: green;
}
#receptionistDiv > .contactName{
    color: red;
}